<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}

            <!-- default footer CSS -->
            <style>
                html, body {
                    height: 100%;
                }

                body {
                    display: flex;
                    flex-flow: column;
                }

                .footer {
                    margin-top: auto;
                    padding-top: 1em;
                    background-color: #f5f5f5;
                }
            </style>
        {% endblock %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<!-- Your page content -->
{% block content %}{% endblock %}

<footer class="footer">
    <p class="small text-center text-muted">
        {% if footer %}
        {{ footer | safe }}<br>
        Based on <a href="https://github.com/cthoyt/sssom-curator">SSSOM-Curator</a>, developed with ❤️ by <a href="https://github.com/cthoyt">@cthoyt</a>
        {% else %}
        SSSOM-Curator is developed with ❤️ by <a href="https://github.com/cthoyt">@cthoyt</a>
        (<a href="https://github.com/cthoyt/sssom-curator"><i class="bi bi-github"></i> Source code</a>).
        {% endif %}
    </p>
</footer>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}

    <script>
        // see https://getbootstrap.com/docs/5.0/components/tooltips/#example-enable-tooltips-everywhere
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
</body>
</html>
